@charset "UTF-8";
html {
  box-sizing: border-box;
}

*, ::before, ::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5 {
  color: #242424;
}

.hlavicka h1 {
  color: white; /* Barva výplně textu */
  font-size: 36px;
}

h1,
h2 {
  margin: 20px 20px;
}

.hlavicka {
  background-image: url(/images/uvodni_foto.jpg);
  background-size: cover;
  padding: 80px;
  color: #D9D9D9;
}

.logo {
  border-radius: 20px;
  border: 2px solid #242424;
  justify-items: center;
  height: auto;
  width: 200px;
}

p {
  font-size: 16px;
  font-family: "playfair display", sans-serif;
}

header {
  font-size: 36px;
  font-weight: bold;
  text-align: center;
}

.menu {
  font-size: 20px;
  background-color: #D4CDCD;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu ul {
  margin: 0;
  padding: 0;
  display: block;
  text-decoration: none;
  list-style: none;
  line-height: 1;
}

.menu a {
  display: block;
  padding: 10px 15px;
  margin: 10px 0;
  color: #242424;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  border: solid 2px #242424;
  border-radius: 10px;
  background-color: #BFB0B0;
  width: 100%;
  max-width: 220px;
  height: 55px;
  text-align: center;
  justify-content: center;
}

.menu li {
  margin: 0;
}

.menu li a img {
  width: 32px;
  height: auto;
  background-color: #BFB0B0;
}

.menu a:hover {
  background-color: #D4CDCD;
  color: white;
  transform: scale(1.05);
}

.uvod {
  display: block;
  text-align: center;
  width: 80%;
  max-width: 800px;
  min-width: 300px;
  padding: 5% 10%;
  margin: 0 auto;
  box-sizing: border-box;
  position: relative;
}

.uvod::before,
.uvod::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: #242424;
  margin: 10px 0;
}

.uvod::before {
  margin-bottom: 10px;
}

.uvod::after {
  margin-top: 10px;
}

.karty {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  margin: 0 10px;
}

.karta_clanku {
  /*  display: flex;
   flex-direction: column; 
   align-items: center;
   justify-content: flex-start;
   width: 100%; Karta vyplní šířku kontejneru 
   max-width: 100%; 
   padding: 20px; */
  background: linear-gradient(135deg, #D4CDCD, #BFB0B0);
  gap: 20px;
  box-sizing: border-box;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgb(0, 0, 0);
  text-decoration: none;
  color: inherit;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  display: flex;
  flex-direction: column; /* Obsah karet zůstane vedle sebe */
  justify-content: flex-start;
  width: 100%; /* Karta vyplní šířku kontejneru */
  padding: 20px;
  border: 2px solid #242424;
  background-color: #D4CDCD;
  margin: 20px auto;
}

.karta_clanku:hover {
  transform: scale(1.05);
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
}

.foto_karta {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
  align-content: center;
  display: block;
}

.text-karta {
  flex-grow: 1;
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: flex-start;
}

.sidebox {
  border: 1px solid #242424;
  border-radius: 20px;
  margin: 20px;
  padding: 10px;
}

.nadpis_sidebox {
  margin: 10px;
  padding: 10px;
}

article {
  padding: 20px;
  gap: 20px;
  box-sizing: border-box;
  border-radius: 20px;
  margin: 20px auto;
  max-width: 1000px;
  border: solid 2px #242424;
  background-color: #D4CDCD;
}

.nadpis_clanek {
  padding: 20px;
  margin-left: 20px;
  margin-bottom: 0;
}

.nadpis_clanek::before,
.nadpis_clanek::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: #242424;
  margin: 10px 0;
}

.nadpis_clanek::before {
  margin-bottom: 10px;
}

.nadpis_clanek::after {
  margin-top: 10px;
}

.karta_receptu {
  display: flex;
  flex-direction: column; /* Obsah karet zůstane vedle sebe */
  align-items: center;
  justify-content: flex-start;
  width: 100%; /* Karta vyplní šířku kontejneru */
  padding: 20px;
  gap: 20px;
  box-sizing: border-box;
  border: 2px solid #242424;
  border-radius: 20px;
  background-color: #D4CDCD;
  margin: 20px auto;
}

button {
  display: block;
  padding: 10px 15px;
  margin: 10px 0;
  color: #242424;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  border: solid 2px #242424;
  border-radius: 10px;
  background-color: #BFB0B0;
  width: 100%;
  max-width: 220px;
  height: 55px;
  text-align: center;
  justify-content: center;
}

footer {
  padding: 30px 0;
  margin-top: 10px;
  background-color: #242424;
  color: white;
  text-align: center;
  text-justify: center;
}

@media screen and (min-width: 768px) {
  .hlavicka {
    background-image: url(/images/uvodni_foto.jpg);
    background-size: cover;
    padding: 80px;
    color: #D9D9D9;
    color: white; /* Barva výplně textu */
    -webkit-text-stroke: 2px black; /* Šířka a barva obrysu */
  }
  .hlavicka h1 {
    color: white;
    -webkit-text-stroke: 2px #242424;
    font-size: 90px;
  }
  body {
    margin-left: auto;
    margin-right: auto;
    background-color: #D9D9D9;
  }
  .menu {
    font-size: 20px;
    background-color: #D4CDCD;
    padding: 10px;
  }
  .menu ul {
    margin: 0;
    padding: 0;
    display: flex;
    text-decoration: none;
    list-style: none;
    line-height: 1;
    flex-direction: row;
    justify-content: space-evenly;
  }
  .menu a {
    display: block;
    padding: 10px 15px;
    margin: 10px;
    color: #242424;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    border: solid 2px #242424;
    border-radius: 10px;
    background-color: #BFB0B0;
    width: 220px;
    height: 55px;
    align-content: center;
    text-align: center;
  }
  .menu li {
    margin-left: 5px;
  }
  .menu li a img {
    width: 32px;
    height: auto;
    background-color: #BFB0B0;
  }
  .menu a:hover {
    background-color: #D4CDCD;
    color: white;
  }
  .ingredience_foto {
    display: flex;
    justify-content: space-evenly;
  }
  .karty {
    flex-direction: row; /* Karty budou vedle sebe na větších obrazovkách */
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-evenly;
    margin: 20px auto;
  }
  .karta_clanku {
    max-width: 500px; /* Zaručí konzistentní maximální šířku karty */
    margin: 0 auto; /* Vycentruje kartu uvnitř řádku */
  }
  .foto_karta {
    width: 100%; /* Obrázek zůstane v kartě */
    height: 350px; /* Pevná výška pro konzistentní vzhled */
    -o-object-fit: cover;
       object-fit: cover;
  }
  .text-karta {
    display: flex;
    align-items: flex-start;
  }
}
/* .karty {
    flex-direction: row;
    justify-items: center;
    margin: 0 auto;
}*//*# sourceMappingURL=style.css.map */