<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Závěrečný projekt</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <header class="hlavicka">
        <h1>Rodinné recepty</h1>

    <img class="logo" src="/images/logo.jpeg" alt="logo špagety v míse">
</header>
    <nav class="menu" role="navigation">

		<ul class="menu">
			<li><a href="/"><img src="/images/icon.svg"></a></li>
			<li><a href="/blog/">Blog</a></li>
			<li><a href="/sladke/">Sladké</a></li>
			<li><a href="/slane/">Slané</a></li>
			<li><a href="/recept_mesice/">Recept měsíce</a></li>
		</ul>
	</nav>

<main class="main">

{{ content | safe }}

</main>
    <footer>&#169 Jitka Mikulenčáková, 2024</footer>
</body>
</html>
